<header> <!--class="site-header"-->
    <div id="Header">
            <div class="page-header">
            <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center">
            <div class="mr-md-auto">
                    <a class="logo" href="{{site.url}}/">Andrew Denty</a>
                </div>
            
                <div class="col-auto p-3">
                    <a href="{{site.url}}/portfolio.html">Portfolio</a>  
                </div>
            
                <div class="col-auto p-3">
                    <a class="active-item" href={{ "/" | relative_url }}>Thoughts on design</a>  
                </div>
                
                <div class="col-auto p-3">
                    <a class="" href="https://www.parttimebackpacker.com">Personal blog</a>
                </div>
    
            </div>
            </div>
            </div>
    </div>
</header>
