---
---

@import "{{ site.theme }}";
body {font-family:"DM Sans", sans-serif;font-size: 18px;font-weight:500;color: #212529;}
h1 {font-weight:400;}
h2 {line-height: 1.4em;margin-top:30px;font-weight:700;}
h3 {line-height: 1.8em;margin-top:40px; font-weight:700;font-size:28px;}
.post-content h4 {font-weight:700;margin-top:40px; }
p, ul, ol {font-weight:500;max-width:800px;font-size:17px;}
a {color: #707070;transition: 0.3s;}
a:hover {text-decoration:none; color: #F6714F; border-bottom: 1px dotted;}
a:visited {color: #707070;}
.site-title, .site-title:visited {font-weight: 600;font-size: 24px; color: #22bee3}
.site-header {background-color:#fafafa;border:none;color:#707070;margin-top: 0px;margin-bottom:0px;padding-top:60px; padding-bottom: 60px;}
.page-header {font-weight: 500;}
.post-title {font-size: 28px;letter-spacing: 0px;line-height: 1.4em;font-weight: 700;margin-top: 80px;}
.post p {font-weight:400;margin-block-end: 25px;}
.site-nav .page-link {color:#707070;}
.site-nav .page-link:hover {text-decoration:none; color: #F6714F; border-bottom: 1px dotted;}

/*<!-- Post list page -->*/
.post-link h3  {margin-top: 5px; line-height: 1.5;}
.post-list li {margin-bottom:80px;margin-top:80px;}
.post-list a {transition: 0.3s;}
.post-list a:hover{border-bottom: none;}
.post-list p {transition: 0.3s;}
.post-list-heading {margin-bottom:80px;margin-top: 80px;}
.post-link {font-size: 18px;}
.post-meta {color:#707070;}

/*<!-- sets max width of content-->*/
.wrapper {max-width: 800px;}

/*<!-- posts -->*/
.PageNavigation {
    font-size: 15px;
    display: block;
    width: auto;
    overflow: hidden;
  }
  
  .PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  
  .PageNavigation a:hover {
    border-bottom: none;
  }

  .PageNavigation .next {
    text-align: right;
  }


  blockquote {font-style:normal;border-left: 8px solid #f4f4f4;letter-spacing:normal; padding:10px 50px 10px 20px; }
  .post blockquote>p {font-weight:400;font-size: 20px;color:#F6714F;margin-block-end: 0px;}

  /*<!-- Navigation menu responsive tweaks -->*/
  @media (max-width: 769px) {
    h1 {margin-top:40px;}
    div.page-header {padding-top:30px; padding-bottom:30px; }
    h1.post-title.p-name {margin-top:30px;}
    div.col-auto.p-3 {padding: 0.5rem!important;}
    }  