---
layout: post-list
---

<div class="home">
    {%- if page.title -%}
    <div class="airtame-section">
        <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}

        {{ content }}

        {%- if site.posts.size > 0 -%}
        <h2 class="post-list-heading">Thoughts on design</h2>
<p>I read a lot, but I find that it's hard to remember everything. I am human after all. </br>This is a conscious attempt to hold on to some of the learnings from the design community hive-mind.</p><p> Oh and occasionally I share something a little longer such as learnings at work, or something completely random, such as <a href="{{site.baseurl}}/2020/01/25/installing-pi-hole-on-windows-10.html">how to block ads with Pi-hole on Windows</a>.
</p>
       <div class="row post-list">
            {% for post in site.posts %}
          
                <div class="col-md-6 d-flex mb-3 mt-3">
                <a class="card" href="{{ post.url | relative_url }}" >
                            <div class="thumbnail card-img-top" style="background-image: url('{{site.baseurl}}/{{ post.image }}')"></div>
                            <div class="card-body">
                                            <h3>
                                                {{ post.title | escape }}
                                            </h3>
                                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                                    
                                </div>
                            </a>
                            </div>
                            {% endfor %}
                        
         
        {%- endif -%}
    </div>
    </div>
    </div>
    <div class="spacer"></div>