---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <div class="airtame-section">
        <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}


        {{ content }}

        {%- if site.posts.size > 0 -%}
        <h2 class="post-list-heading">Thoughts on design</h2>

        <ul class="post-list">
            {% for post in site.posts %}
              <li>
                <div class="row" style="">
                            <div class="col-4 thumbnail" style="height: 180px;background-color:#f4f4f4; background-image: url('{{site.baseurl}}/{{ post.image }}');background-repeat: no-repeat;background-size:cover;background-position: center;">
                            </div>
                            <div class="col-8">
                                  <a class="post-link" href="{{ post.url | relative_url }}">
                                            <h3>
                                                {{ post.title | escape }}
                                            </h3>
                             
                                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                                        </a>

                                    {% endfor %}
                                
                                </div>
                          </div>
                
              </li>
        
            

          </ul>

        <!--<ul class="post-list">
            {%- for post in site.posts -%}
            <li>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                        <h3>
                            {{ post.title | escape }}
                        </h3>
                        {{ post.content | strip_html | truncatewords: 50 }}
                    </a>
            </li>
            {%- endfor -%}
        </ul>-->
        {%- endif -%}

    </div>
